*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
   height: 100vh; 
   display: flex;
}
.container{
border:1px solid teal;
height: 500px;
width: 70%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
margin:auto;
}
.children{
 width: 200px;
 height: 200px;
 border: 1px solid red;
}
.one{
    align-self:end;
}

/* box model */
.layout{
    height: 100vh;
    display: flex;
}
.sideBar{
  width: 300px;
  border: 1px solid red;
  height: 100%;
}
.main-block{
    width: 90%;
    border: 1px solid black;
    height: 100%;
    overflow: scroll;
    padding: 20px;
}
.center-me{
    padding: 20px;
    border: 1px solid black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
